@model dveri1.Models.ContactModel
<div class="timeworktop fll">
    <div> Время работы: </div>
    @foreach (var i in Model.GrafikWorkList)
    {
        <div style="display:block">
            <div class="fll">@i.NameDay: </div>
            <div class="fll">@i.TimeWork </div>
        </div>
    }
</div>
<div class="contacts fll">
    @foreach (var z in Model.ContactList)
    {
        <div style="display:block">
            <div class="fll">@z.TypeSv: </div>
            <div class="fll">@z.NumberSv </div>
        </div>
    }    
</div>
