@model  dveri1.Models.ModelBreadCrumbs
    @{
        Layout = null;
}
<div class="breadcrumbs">
    <hr class="razdTov">
   
       @*//для страницы главная*@
                     @*@Html.ActionLink("Главная", "MetallicheskieVhodnyeDveri", "VhodnyeDveri", null, new { @class = "homebreadcrumbs" })*@
    <a class="homebreadcrumbs" style="margin-top:-2px;" href="/VhodnyeDveri/MetallicheskieVhodnyeDveri"> <span class="glyphicon glyphicon-home"></span></a>
      @*другие главные разделы сайта*@
        @if (Model.NamePartSite != null)
        {
                     
            if (Model.NamePartSite == "Отзывы")
            {
                <a href="/Comment/GetAllComment"><span class="glyphicon glyphicon-chevron-right"style="font-size:0.7em"></span><span class="ml10">Отзывы</span> </a>
            }
            if (Model.NamePartSite == "О нас")
            {
                <a href="/AboutUs/AboutUsInfo"><span class="glyphicon glyphicon-chevron-right"style="font-size:0.7em"></span><span class="ml10">О нас</span> </a>
            }
           if (Model.NamePartSite == "Входные двери")
            {
                <a href="/VhodnyeDveri/MetallicheskieVhodnyeDveri"><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">Входные двери</span> </a>
            }
            if (Model.NamePartSite == "Услуги")
            {
                   <a href="/AboutYstanovka/YstanovkaInfo"><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">Услуги</span> </a>
            }
            if (Model.NamePartSite == "Наши работы")
            {
                <a href="/OurWorks/OurWorksAll"><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">Наши работы</span> </a>
            }
            if (Model.NamePartSite == "Полезное")
            {
                  <a href="/Articles/GetArticles"><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">Полезное</span> </a>
                if (Model.NameProduct != null)
                    {
                          <a><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">@Model.NameProduct</span> </a>
                    }
            }

        }

       @if (Model.NameCategory != null)
        {

             @*@Html.ActionLink(Model.NameCategory, "MetallicheskieVhodnyeDveri", "VhodnyeDveri", new { firma = Model.NameCategory }, null)*@
            <a href="/VhodnyeDveri/MetallicheskieVhodnyeDveri/?firma=@Model.NameCategory"><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">@Model.NameCategory</span> </a>
            if (Model.NameProduct != null)
            {
                <a><span class="glyphicon glyphicon-chevron-right" style="font-size:0.7em"></span><span class="ml10">@Model.NameProduct</span> </a>
            }
        }

    <hr class="razdTov">
</div>
