@model dveri1.Models.ContactModel
<div class="contacts mla mra">

  
      
        @foreach (var z in Model.ContactList)
        {//для ограничения вывода количества контактов не более четырех
            if (ViewBag.Count1 > 3)
            {
                break;
            }
            else
            {
                ViewBag.Count1++;
                <div class="elContact">
                    <div class="fll">@z.TypeSv: </div>
                    <div>@z.NumberSv </div>
                </div>
            }
        }
    </div>
