@model dveri1.Models.ModelBuyDveri
@{
    ViewBag.Title = "Оставьте свой номер телефона и мы Вам перезвоним";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FastBuyDveri", "VhodnyeDveri"))
{
<div id="fastbuy" style="text-align:center">
   @Html.Partial("ViewFastBuy")
    @if (Model.IdDveri != 9999)
    {
        @Html.ActionLink("Отменить", "TovarPage", "VhodnyeDveri", new { id = Model.IdDveri }, new { @class = "butcancel" })
    }
    else
    {
        @Html.ActionLink("Отменить", "VhodnyeDveriIndex", "VhodnyeDveri", null, new { @class = "butcancel" })
    }
    </div>
}
