
@{
    ViewBag.Title = "EmptyFile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="tablecontent" style="text-align:center">
    <h3>В экспортируемом файле, недостаточно данных!</h3>
    <p>В файле должны присутствовать поля: ID, Название, Производитель, Цена.</p>
</div>


