@model dveri1.Models.CreateAdresModel
@{
    ViewBag.Title = "Импорт данных из файла Exel в базу данных";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="tablecontent">
    <h2>Выберите файл для импорта в базу данных</h2>

    <div>
        <p>
            @using (Html.BeginForm("Import", "ExpImp", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m=>m.AdresName)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="fieldsetform">
                    <legend>Выберите файл для загрузки на сервер</legend>
                    <input class="inpset ml20" type="file" name="fileUpload[0]" />
                  
                    <div class="mt20 mb20">
                        <input class="showadd ml20" style="width:300px" id="inpload" type="submit" value="Загрузить файлы на сервер" disabled = "disabled"/>
                        @Html.ActionLink("Отменить", "Panel", "Admin")
                    </div>
                </fieldset>
            }
        </p>
    </div>
</div>
@*//скрипт для разблокирования кнопки загрузки файла на сервер*@
<script type="text/javascript">
    $(document).ready(function () {
        $('.inpset').click(function (e) {
                    $('#inpload').prop('disabled',false);
        })
       
    });
</script>