<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Sorry, but the page not found/.</h2>
        <h2>Извините, но страница не найдена..</h2>
    </hgroup>
</body>
</html>
