/*||входные двери*/

body {
 width:100%;
  margin: 0 auto;
}
.Fon{
    position:fixed;
    /*background-image: linear-gradient(to bottom,#CFCFCF, );*/	
        background-image: linear-gradient(to bottom,	white, white);
    width:100%;
    height:100%;
    top:-10px;
    z-index:-5;
}

div.body{
   width:1200px;
   min-height:500px; 
    margin: 0 auto;
}
div.head{
    font-size:0.7em;
    display:block;
    text-align:center;
}

.dl-horizontal dt {
    white-space: normal;
}

div.pager{text-align:center; border-top:2px solid silver; padding: .5em 0 0 0; margin-top:1em; margin-bottom:1em; display:inline-block;width:100%;}
div.pager a {font-size: 1.1em; color: #666; text-decoration:none; padding:0 .4em 0 .4em; font:bold 1em "Arial NArrow", "Franklin Gothic Medium", Arial;}
div.pager a:hover {background-color:silver;}
div.pager a.selected {background-color:#353535; color: white;}

/* Set width on the form input elements since they're 100% wide by default */
/*textarea*/
input,
select
 {
    max-width: 280px;
}
 


a {
    color:blue;
    text-decoration:none;
}
a:hover
{
    color:darkblue;  
}

div{
    color:#4F4F4F;
    /*color:blue;*/
}
div.chLine div:hover{
    background-color:gray;
}
div.productlist{
    height:initial;
    padding-bottom:100px;
    width:950px;
    display:block;
    float:right;   
}
    div.leftMainMenu {
        width: 230px;
        height: auto;
        float: left;
        padding: 10px 0 20px 10px;
    }

  


.MenuFilter
{
    width:inherit;
    height:auto;
    padding-left:5px;
    /*background-image: linear-gradient(to left,darkgray, #2F4F4F);*/
   background-color:	#00BFFF;
    margin:-5px 0 20px -10px;
}
.MenuFilter ul{
    list-style: none;
}
.wrfirma{
    color: white;
    display: block;
    font-size: 1em;
    padding: 3px;
}
.unactive ul{
    display:none;
}

.ddclfirma{
   background-color: white;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: block;
    font-size: 1.0em;
    margin-left: -9px;
    padding: 10px 0;
    width: 106%;    
}


.wrfirma span{
  color:black; 
  margin-left:10px;
}
.iconleft{
    font-size:1.2em;
    font-weight:900;
    display:block;
    font-style:oblique;
    width:10px;
    float:left;
}

.ulfirma{
    color:green;
}
.ulfirma li{
    color:white;

}
.ulfirma li input{
    color:black;
    cursor:pointer;
}

.filtrspan{
    color:black;
     font-size: 1.1em;
}

.butfiltr{
    display:block;
    padding:5px;
    background-color:green;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size:1.0em;
    cursor:pointer;
}

.butfiltr:hover {
    border: 2px solid darkgray;
    background-color:#0F640F;
    color:gray;
}




/*//на каждый товар в списке*/
 div.shortproduct{
    display:block;
     float:left;
     height:400px;
     width:210px;
     margin:10px 0px 0px 25px;
     text-align:center;
 }
    div.shortproduct p{
    margin-top:1px;
    margin-bottom:1px;
    }
 div.shortproduct:hover{
      /*opacity:0.7;*/
      border: 1px solid gray;
      border-radius:3px;
      box-shadow:1px 3px 6px black;
       height:398px;
       width:208px;     
 }
 div.shortproduct-small
 {
     display:block;
     float:left;
     height:240px;
     width:140px;
     margin:5px 0px 0px 6px;
     text-align:center;
   
 }
 div.shortproduct-small:hover{
      border: 1px solid gray;
      border-radius:3px;
      box-shadow:1px 3px 6px black;
      height:238px;
      width:138px;     
 }
 div.imageshort{
     display:block;
     width:inherit;
 }
 img.img-thumbnail{
     width:110px;
     height:240px;
     margin-top:15px;
 }

img.img-thumbnail-small{
     width:55px;
     height:120px;
     margin-top:15px;
}

div.shortChar{
     width:138px;
     height:110px;
     overflow:hidden;
   
}
div.shortChar p{
      line-height:80%;
}


 /*//для отображения текста в редакторе админа*/
 textarea.areas{
    width:960px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
 }

 a.leftMenuButton{
      background-color:	#000080;
      display:block;
      width:94%;
     height:21px;
    font-size:11px;
     color:	#FFFFF0;
     text-transform:uppercase;
     text-align:center;
     padding:8px 0 5px 0;
    font-weight:bold;
    margin-bottom:2px;
 }
 a.leftMenuButton:hover{
  background-color:#0082B4;
  opacity:1;
  transition: .5s linear;
  background-position: -200% 0, 0 0;
 }

  a.act{      
      background-color:	black;
      color:white;
      opacity:1;
 }

 div.blockpercent{
    z-index:3;
    position:absolute;
    margin-left:115px;  
 }

  div.blockpercent-small{
    z-index:3;
    position:relative;
    /*margin-left:74px;  
    margin-top:10px;*/
    /*width:1px;
    height:1px;*/

 }
  .percent-small{
        background-image: -webkit-gradient(linear, center top, center bottom, from(#ff7e4d 20%), to(#bd0502 66%));
background-image: -webkit-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -moz-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -o-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -ms-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: linear-gradient(to bottom, #ff7e4d 20%, #bd0502 66%);
                position:absolute;
                font-size: 14px;
                color: #fff;
                width: 25px;
                height: 25px;
                text-align: center;
                border-radius:50%;
                line-height: 25px;
                top:5px;
                padding:3px;
  }

/*для скидки*/
 .percent{
                /*top: -219px;
                right: -120px;*/
             background-image: -webkit-gradient(linear, center top, center bottom, from(#ff7e4d 20%), to(#bd0502 66%));
background-image: -webkit-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -moz-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -o-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -ms-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: linear-gradient(to bottom, #ff7e4d 20%, #bd0502 66%);
                /*position:relative;*/
                font-size: 30px;
                color: #fff;
                width: 55px;
                height: 55px;
                text-align: center;
                border-radius:50%;
                line-height: 50px;
                /*z-index:3;*/
                padding:4px;
            }
 .BigPersent{
     border: 0px solid black;
border-radius: 50%;
background-image: -webkit-gradient(linear, center top, center bottom, from(#ff7e4d 20%), to(#bd0502 66%));
background-image: -webkit-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -moz-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -o-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: -ms-linear-gradient(top, #ff7e4d 20%, #bd0502 66%);
background-image: linear-gradient(to bottom, #ff7e4d 20%, #bd0502 66%);
-webkit-box-shadow: -20px 15px 5px rgba(0,0,0,0.29), inset 0 1px 0 rgba(255,3,2,0);
-moz-box-shadow: -20px 15px 5px rgba(0,0,0,0.29), inset 0 1px 0 rgba(255,3,2,0);
box-shadow: -20px 15px 5px rgba(0,0,0,0.29), inset 0 1px 0 rgba(255,3,2,0);
color:white;
 text-align: center;
 z-index:3;
 width:140px;
 font-size:28px;
 float:right;
 padding:5px;
 position:absolute;
 margin-left:250px;
 margin-top:2px;

 }

 .wid150{
     width:150px;
 }
/*-----------------------------ffffffffffff-------float---------------------------*/
.fll{
    float:left;
}
.flr{
    float:right;
}
.tac{
    text-align:center;
}
/*-----------------mmmmmmmmmmmm-----------margin------------------------------------------*/
.ma{
    margin:auto;
}
.ml10{
    margin-left:10px;
}
.ml15{
    margin-left:15px;
}
.ml20{
    margin-left:20px;
}
.ml40{
    margin-left:40px;
}

.mr10{
    margin-right:10px;
}
.mr40{
    margin-right:40px;
}
.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mb20{
    margin-bottom:20px;
}
.mb30{
    margin-bottom:30px;
}
.mb40{
    margin-bottom:40px;
}
div.brand{
    margin-left:30px;
    max-width:600px;
   font-size:1.0em;
    display:inline-block;
}
/*div.timeworktop{
      margin-left:65px;
      min-width:280px;
   }*/
div.contacts{
      width:200px;
     }
div.content-body{
    margin-top:-28px; 
    height:auto;
    padding-bottom:40px;
    width:1200px;
 }

div.navigationfixedtop {
    width:inherit;
    display: block;
    height:170px;
}
div.navigation-menu{
    margin-top:110px;
}
/*======================================               footer            ====================================*/
 footer{
    display: inline-block;
    height: 230px;
    min-height: 50px;
    min-width:1200px;
    width: 100%;
    color:white;
    background-image:linear-gradient(to top, #191970,	#B5B5B5); 
    position:relative;

 }
 footer p{
     color:white;
 }
 div.yurinffooter{
       display: inline-block;
       height:50px;
       width:inherit;
       z-index:1;
       background-color:	#000080;
       position:absolute;
       left:0px;
       bottom:-15px;
 }
 div.yurinffooter p{
     color:gray;
 }
 /*меню футера*/
div.footermenudiv {
    color: white;
    width:33.3%;
    height:95%;
     float:left;
       min-width:350px;
}

ul.footermenu {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
 }
 ul.footermenu li:hover{
     color:	#00FFFF;
 }


 a.footermenuitem{
     text-decoration:none;
     color:white;
 }
    a.footermenuitem:hover {
    color:	#00FFFF;
    }
div.footcontact {
    min-width:350px;
    width:33.3%;
    color: white;
    height:95%;
    float:left;
}
div.footcontact div{
    color:white;
}


div.socseti{
     min-width:350px;
    float:left;
    width:33.3%;
    color:white;
    margin-left:auto;
    margin-right:auto;
    /*background-image:linear-gradient(to top, #172981,gray)	;*/
    height:95%;
}
div.socseti a{
    color:white;
}

.Asocseti{
     display:block;
     padding:3px;
      width:130px;
      text-align:left;
  }

 div.content{
    display: block;
    width: 100%;
    height: 100px;
  }
 div.contactpage{
     display:inline-block;
     min-height:400px;
     min-width:1200px;
     text-align:center; 
     padding:0 10px 0 10px;
 }
 div.contactsdata{
   font-size:1.1em;
   width:33%;
   float:left;
   height:250px;
   border: 2px solid gray;
   border-radius:10px;
   box-shadow:0 2px 6px black;
   text-align:center;
 }
    div.contactsdata:hover {
       background-color:white;
    }
/*--------------------------------------меню------------ГЛАВНОЕ МЕНЮ-------------------меню---------------меню------------------------------------------*/

#menu{
	width:1200px;
	height:51px;
	background:url(images/fm_menu_bg.jpg) repeat-x;
    list-style-type: none;
     position:absolute;
     border-bottom: 2px solid #FFD700;
      /*border-radius:3px;*/
      box-shadow:1px 2px 4px black;

}
	#menu ul{
		width:900px;
		margin:0 auto;	
	}
		#menu li{
		
            list-style-type: none;
			display:block;
			float:left;
			font-size:11px;
			font-weight:bold;
			height:51px;
			line-height:51px;
			margin:0 5px;
		}
			#menu li a{
				display:block;
				float:left;
				height:51px;				
				color:black;
				text-decoration:none;
				text-transform:uppercase;
				padding:0 20px;				
			}
				#menu li a:hover{	
					background:url(images/fm_hover_bg.jpg) repeat-x;
					color:#fff;
				}
					#menu li a:hover span, #menu li .current span{
						background:url(images/fm_hover_pointer.jpg) no-repeat top;
						height:51px;
						display:block;
						float:left;
					}
					#menu li .current{
						display:block;
						float:left;
						height:51px;				
						background:url(images/fm_hover_bg.jpg) repeat-x;
						color:#fff;
						text-decoration:none;
						text-transform:uppercase;
						padding:0 20px;		
					}


      /*===================================кнопка дозагрузки страницы=========================================*/
.showadd {
    width: 170px;
	height: 29px;
	/*width: 120px;
	height: 32px;*/
	padding: 0 10px 2px;
	font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #515F6A;
	text-shadow: 1px 1px #C4D0DA;
	border: 1px solid #7C8A93;
	border-top: 1px solid #A1AEB7;
	border-bottom: 1px solid #5D6B75;
	box-shadow:
		inset 0 1px #D8E0E6,
		inset 1px 0 #B7C6D1,
		inset -1px 0 #B7C6D1,
		inset 0 -1px #A1B5C4,
		0 2px #62727E,
		0 3px #5D6B75,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(top,  #becbd6 0%, #8da5b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#becbd6), color-stop(100%,#8da5b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* IE10+ */
	background: linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#becbd6', endColorstr='#8da5b7',GradientType=0 ); /* IE6-9 */
	background-color: #A5B8C6;
}
.showadd::-moz-focus-inner{border:0}
.showadd:hover {
	border-top: 1px solid #96A2AB;
	box-shadow:
		inset 0 1px #C0CED7,
		inset 1px 0 #B7C6D1,
		inset -1px 0 #B7C6D1,
		inset 0 -1px #B9C8D3,
		0 2px #62727E,
		0 3px #5D6B75,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(top,  #97adbd 0%, #a8bac8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97adbd), color-stop(100%,#a8bac8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* IE10+ */
	background: linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97adbd', endColorstr='#a8bac8',GradientType=0 ); /* IE6-9 */
	background-color: #A5B8C6;
}
.showadd:active {
	top: 3px;
	border: 1px solid #778998;
	border-top: 1px solid #606F7A;
	border-bottom: 1px solid #8296A6;
	background: #92A9BA;
	box-shadow: inset 0 1px 2px #5F7281;
}
.showadd:disabled{
    box-shadow:none;
    border-top:none;
   background: -moz-linear-gradient(top,  #becbd6 0%, #8da5b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#becbd6), color-stop(100%,#8da5b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* IE10+ */
	background: linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#becbd6', endColorstr='#8da5b7',GradientType=0 ); /* IE6-9 */
	background-color: #A5B8C6;
}


/*=================================админ панель=======================================================*/
div.body-admin{
    width:100%;
    min-width:1200px;
    min-height:700px;
    height:100%;
    position:relative;
}

div.tablecontent{
margin-left:250px;
}

div.navigationleftfixed{
    margin-top:-20px;
    width:250px;  
    min-height:1000px;
    background-color:lightgray;
    top:0;
    margin-left:-10px;
    border:2px solid gray;
    box-shadow: 0 2px 6px black;
    float:left;

    position:absolute;
      /*height:101%;*/
}
.actadmin{
    color:black;
}
/*            ================================экспериментальное меню с выпадающим древовидным списком==============================*/
/* ul-treefree */
ul.treespis { padding-left:25px; }

ul.treespis ul { margin:0; padding-left:6px; }
ul.treespis li { position:relative;list-style:none outside none;  border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.treespis li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.treespis li:last-child { border-left:0 none; }
ul.treespis li:last-child:before { border-left:solid 1px #999; }

/* ul-dropfree */
ul.dropspis div.drop {
width:11px;
height:11px;
position:absolute;
z-index:10;
top:6px;
left:-6px;
/*тут изображение крестика раскрывающегося*/
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
background-position:-11px 0;
background-repeat:no-repeat;
cursor:pointer;
}


/*================================================кнопки сортировки по цене стрелками================================================*/


.buttonsort{
 margin-left: 10px;
 padding: 8px 10px 14px 10px;
 list-style: none;
 width:97%;
 height:20px;
 /*background-image:linear-gradient(to left, #9C9C9C,#CFCFCF)*/
 }
 .spsort{
     color:	#363636;
     font-size:1.0em;
     font-weight:700;
     margin-right:30px;
     padding-top:2px;
 }

.buttonsort a.upsort{
  padding: 5px 20px;
 font-size:small;
 float: left;
 text-decoration: none;
 color: #444;
 position: relative;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 /*background-color: 	white;*/
 background-image: linear-gradient(to bottom,#E0FFFF,#9C9C9C);
 border-right:none;
   box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
 }

.buttonsort a.upsort:hover{
 background: #fff;
 }

/*другая кнопка*/
.buttonsort a.downsort{
 padding: 5px 25px;
 font-size:small;
 float: left;
 text-decoration: none;
 color: #444;
 position: relative;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);

  background-image: linear-gradient(to bottom,#E0FFFF,#9C9C9C);
   box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
 }

.buttonsort a.downsort:hover{
 background: #fff;
 }
/*//активная*/
.buttonsort a.actsortdown{
   box-shadow:
   inset 0 2px 4px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
 }
.buttonsort a.actsortup{
  box-shadow:
   inset 0 2px 4px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
 }

/*таблица администрирования*/
.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 11px;
  width: 100%;
  text-align: left;
  /*border-collapse: collapse;*/
  /*background: #252F48;*/
  margin: 10px;
  color:black;
  margin-left:auto;
  margin-right:auto;
}
.table_dark th {
  color: #EDB749;  
  border-bottom: 1px solid #37B5A5;
  /*padding: 12px 17px;*/
  padding: 5px 10px;
}
.table_dark td {
  /*color: #CAD4D6;*/
    color: black;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5; 
  padding: 2px 2px;
}
/*.table_dark tr:last-child td {
  border-bottom: none;
}*/
.table_dark td:first-child {
  border-left: 1px solid #37b5a5;
}
.table_dark tr:hover td {
   background-color:lightcoral;
}
.table_dark a{
    display: block;
    width:90%;
  }


 a.tablebut {
  display: inline-block;
  padding: 5px 10px;
  background:lightgreen;
  box-shadow: 2px 2px 0 0 black;
  position: relative;
  text-align:center;
  cursor: pointer;
  border-radius: 3px; 
}
 a.tablebut:hover {
       background:green;
  box-shadow: none;
  top: 2px;
  left: 2px;
}




 /*================================= info and errors =====================================*/
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/*============================================ styles for validation helpers ============================*/
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/*оформление текстбоксов и лэйблов/**/
.fieldset{
    display:inline-block;
   
}


label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-box{
  display: block;
  width: 100%;
  min-width:500px;
  height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.text-box:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  min-width:500px;
  height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-left:35px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

div.alertmessage{
    background-color:red;
    border: 2px solid gray;
    box-shadow: 0 2px 6px black;
    color:black;
    font-size:1.2em;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;   
    text-align:center;
    z-index:5;
}
/*======================================карточка товара===============================================================================*/
div.cartochkatovara{
    display:inline-block;
    width:100%;   
  }
h1.nametovar{
    float:left;
    margin-left:5px;
    width:98%;
    font-size:x-large;
    text-shadow: 0 1px 0 black;
     color:gray;
    }
div.ferstsect{
    display:inline-block;
    width:100%;
    min-height:450px;
}

div.sectionabout{
       text-align:center;
     
}
div.opisanie{
    text-align:justify;
    color:black;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-size:large;
}
div.opisanie:first-line{
    margin-left:20px;
}

div.sectionfoto{
    width:35%;
    display:inline-block;
    float:left;
    height:440px;
    margin-left:75px;
}

div.charakteritics{
    color:darkgray;
    display:block;
    height:auto;
    width:85%;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}
.labelchar{
    width:100%;
    text-align:center;
    color:darkgrey;
    font-size:2.4em;
}


div.blocktabov{
    display:block;
   
}

div #sliderVert {
    float: left;
    display: inline-block;
    margin: 10px;
    width:80px;
   }
div.sectionhartk{
    width:55%;
    height:100%;
    float:left;
}
img.spisFoto{   
    width:45px;
    height:74px;
    margin-bottom:5px;  
  }
img.spisFoto:hover{
    border: 3px solid orange; 
    position:relative;
    z-index:4;
    height:69px;  
    border-radius:5px;  
}
   ul.sliderVertUl {  
    padding: 15px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin-top:-7px;
     }
  ul.sliderVertUl li {
    list-style-type: none; /* Убираем маркеры */
   }
  div.sliderMainFoto{
      /*background-color:moccasin;*/
      display:inline-block;
      margin:20px;  
  }
  img.MainFoto{
      margin-left:30px;
      width:230px;
      height:420px;
  }

   img.MainFotoDef{
      margin-left:140px;
      width:230px;
      height:420px;
   }
  span.pr{
      width:100px;
  }
  span.valtov{
      color:black;
      font-size:large;
  }
  
  div.blhar{
     background-image : linear-gradient(to right,#E8E8E8,#CFCFCF);
    margin: 5px 0;
   height:30px;
   font-size:1.1em;
    width: 100%;
  }

  .namechart{
      float:left;
      width:40%;
      display:block;
      margin-left:20px;
      height:100%;
      padding-top:2px;
        color:#4F4F4F;
  } 
    .itemchart{
        float:left;
        width:55%;
        display:block;
        height:100%;
        padding-top:2px;
        margin-left:20px;
    }          
    .dopchar{
     background-image : linear-gradient(to right,#E8E8E8,#CFCFCF);
    margin: 5px 0;
   height:auto;;
   font-size:1.1em;
    width: 98%;
     color:#4F4F4F;
     padding:2px 0 5px 20px;
    }



  /*===========================================делаем tab (вкладки на css)==============================================*/
#raz{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:85%;
}
#raz > div { 
  background-color:#fff;
 }
 
#tab2,#tab3,#tab4 {position: fixed; }

#raz > a,
#raz #tab2:target ~ a:nth-of-type(1),
#raz #tab3:target ~ a:nth-of-type(1),
#raz #tab4:target ~ a:nth-of-type(1),
#raz > div { padding: 5px; border: 1px solid #aaa; }

#raz > a { 
       line-height: 28px;
       background: #E6E6FA;
       text-decoration: none;
       width:23%;
       display:inline-block;
       margin-bottom:-2px;
       color:	#4F4F4F;
       font-weight:900;
}

#tab2,
#tab3,
#tab4,
#raz > div,
#raz #tab2:target ~ div:nth-of-type(1),
#raz #tab3:target ~ div:nth-of-type(1), 
#raz #tab4:target ~ div:nth-of-type(1) {display: none;}


#raz > div:nth-of-type(1),
#raz #tab2:target ~ div:nth-of-type(2),
#raz #tab3:target ~ div:nth-of-type(3),
#raz #tab4:target ~ div:nth-of-type(4) { display: block; }

#raz > a:nth-of-type(1),
#raz #tab2:target ~ a:nth-of-type(2),
#raz #tab3:target ~ a:nth-of-type(3),
#raz #tab4:target ~ a:nth-of-type(4) { border-bottom: 2px solid #fff; background:#fff;}

#raz #tab2:target ~ a:nth-of-type(1),
#raz #tab3:target ~ a:nth-of-type(1),
#raz #tab4:target ~ a:nth-of-type(1),
#raz > a:nth-of-type(1)>:not(:active){
    background: #E6E6FA;
}



/*========================================================================= хлебные крошки =====================================================/**/

 /*.breadcrumbs{
    display: inline-block;
    float: right;
    font-size: 0.7em;
    list-style: outside none none;
    margin: 10px 0 0;
    padding: 0;
    width: 80%;
 }*/
 
  .breadcrumbs{
 display: block;
    font-size: 0.9em;
    list-style: outside none none;
    margin: 0;
    padding: 0;
 }
 


.breadcrumbs a{
 padding: 5px;
 float: left;
 text-decoration: none;
 color: #444;
 position: relative;
 font-weight: 900;
 }

 
.breadcrumbs a:hover{
 /*background: #fff;*/
 color:black;
 }
 

div.breadcrumbsonpage{
    display:block;float:left;width:100%;
}

  /*===========кнопка быстрая покупка двери===============*/
  div.boxbutton{
    width:220px;
    text-align:center;
    padding:5px;
  }
 a.butcall {
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0000cd linear-gradient(#eee9e9, #0000ff);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  width:180px;
}
     a.butcall:hover {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
      cursor: pointer;
       box-shadow: inset #0000cd 0 -2px 2px, inset 0 2px 2px #8470ff, #0000ff 0 0 0 2px, rgba(0,0,0,.3) 0 2px 5px;
    }
     a.butcall:active {
      top: 1px;
      color: #fff;
      text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
      box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
    }
    @-webkit-keyframes pulsate {
      50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
    }
    @keyframes pulsate {
      50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
    }

/*==================кнопка купить======================*/
/*==================кнопка купить======================*/
 .butbyu {
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background:#ff4500 linear-gradient(#eee9e9, #ff0000);
  box-shadow: inset #ff4500 0 -1px 1px, inset 0 1px 1px #ffa07a,  #ff0000 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  width:180px;
}
.butbyu:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
   box-shadow: inset #ff4500 0 -2px 2px, inset 0 2px 2px #ffa07a,  #ff0000 0 0 0 2px, rgba(0,0,0,.3) 0 2px 5px;
}
.butbyu:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

/*//================кнопка ОТМЕНИТЬ===========================*/
.butcancel {
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background:#cdc9c9 linear-gradient(#eee9e9, #8b8989);
  box-shadow: inset #cdc9c9 0 -1px 1px, inset 0 1px 1px #eee9e9,  #8b8989 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  width:180px;
}
.butcancel:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
   box-shadow: inset #cdc9c9 0 -1px 1px, inset 0 1px 1px #eee9e9,  #8b8989 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
}
.butcancel:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

/*модальное окно*/
#modal_form_writeus{
	width: 600px; 
	height: auto; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -300px;
	margin-left: -200px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 12; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 30px 10px;
}

#modal_form_fastbuy{
	width: 600px; 
	height: auto; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -300px;
	margin-left: -200px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 11; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 30px 10px;
}

#modal_form{
	width: 600px; 
	height: auto; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -320px;
	margin-left: -200px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 10; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 30px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
 #modal_close {
    border: 1px #000 solid;
	padding:1px 4px;
    border-radius:3px;
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
	display: block;
      color:white;
    background-color:	#8B8989;
}
#modal_close:hover {
      background-color: #FF4500;
}
#modal_closeL:hover {
      background-color: #FF4500;
}
/* Пoдлoжкa */
#overlay{
	z-index:9; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
/*кнопка быстрой покупки*/
.butfastbyu {
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background:#ff4500 linear-gradient(#eee9e9, #ff0000);
  box-shadow: inset #ff4500 0 -1px 1px, inset 0 1px 1px #ffa07a,  #ff0000 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  width:180px;
}
.butfastbyu:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
   box-shadow: inset #ff4500 0 -2px 2px, inset 0 2px 2px #ffa07a,  #ff0000 0 0 0 2px, rgba(0,0,0,.3) 0 2px 5px;
}
.butfastbyu:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
/*заказать звонок*/
  .butcallmain { 
    color:black;
    font-size:0.9em;
    } 
     .butcallmain:hover { 
                  color:#2F4F4F;
          } 
   .butwritemain { 
    color:black;
    font-size:0.9em;
    } 
     .butwritemain:hover { 
               color:#2F4F4F;
          } 
  
    /*//доставка и оплата*/
    div.dostavka{
         font-size: large;
    height: 100%;
    margin-bottom: 10px;
    }
    div.oplata{
        font-size:large;
     
        padding:20px;
        height:350px;
          overflow-y: scroll;
    }
     div.dostavkamain{
        font-size:large;
        background-color:white;
        padding:20px;
          margin-bottom:10px;
          height:auto;
    }
    div.oplatamain{
        font-size:large;
        background-color:	#FfFFFF;
        padding:20px;
        height:auto;
    }




  /*================================выбор количества звезд и все для страницы отзывов=========================================*/
.rating-hide {
   display:none;
}
  dl.star-rating ol {
  margin-left:100px;
  padding: 0;
  list-style: none;
  width: 240px;
  height: 48px;
  position: relative;
   background: url('ImgComment/starwhite.png');
}
  dl.star-rating li {
  margin: 0;
  padding: 0;
}

 dl.star-rating li label {
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  position: absolute;
  text-decoration: none;
  z-index: 10;
  }
 dl.star-rating li label:hover {
 background: url('ImgComment/stargold.png') left center;
  left: 0;
  z-index: 2;
}
 dl.star-rating label.star1 {
  left: 0;
}
  dl.star-rating label.star1:hover {
  width: 48px;
}
dl.star-rating label.star2 {
  left: 48px;
}
dl.star-rating label.star2:hover {
  width: 96px;
}
dl.star-rating label.star3 {
  left: 96px;
}
dl.star-rating label.star3:hover {
  width: 144px;
}
dl.star-rating label.star4 {
  left: 144px;
}
dl.star-rating label.star4:hover {
  width: 192px;
}
dl.star-rating label.star5 {
  left: 192px;
}
dl.star-rating label.star5:hover {
  width: 240px;
}
label.current{
     background: url('ImgComment/stargold.png');
}
/*для вывода инофмации о коментариях всех компании*/
label.stargold{
    background: url('ImgComment/stargold24.png');
    width:24px;
    height:24px;
}
label.starwhite{
    background: url('ImgComment/starwhite24.png');
    width:24px;
    height:24px;
}
div.contentcomment {
    width: 100%;
    height: auto;
}
div.commentmain {
    height: auto;
    display: inline-block;
    width: 100%;
    border: 2px solid;
    border-color:gray;
    border-radius:4px;
}
div.usercomment{
width:20%;display:block;padding:5px;float:left;
}
div.timecomment{
   color:gray;font-size:small;
}
div.informcomment {
    width: 75%;
    display: block;
    padding: 2px 0 15px 10px;
    float:left;
}
/*=================================================    С Т А Т Ь И   ===========================================================================*/
div.bootharticles{
     margin-top:5px;
     margin-left:-10px;
     display:block;
     padding:5px;
     text-align:justify;
     background-image: linear-gradient(to bottom, lightgray,gray);
     opacity:0.7;
         
}
div.bootharticles a{
   text-decoration:none;
   color:#363636;
}
div.bootharticles:hover{
    color:black;
    cursor:pointer;
    opacity:1;
}
div.article2{
     display:block;
    }
div.article2 a{
     text-decoration:none;
   }


.article2 .artmain:hover, .entren:hover{   
    color:black;
   }

/*добавленные классы VhDvind MkDv*/
img.slMain{
     width:1211px; height:190px;margin-left:-15px;margin-top:-5px;
}
img.Glas{
width:1200px;height:200px;
}
img.imLeftSl{
  width:200px;height:400px
}
img.doLoadingImg{
   width:50px;height:50px;
}
div.dvSortCost
{
   padding-left:25px;margin-top:20px;margin-bottom:10px;font-size:1.1em;text-decoration-line:none;color:black;text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
div.MenKataltext
{
  padding-left:45px;margin-top:20px;margin-bottom:10px;font-size:1.1em;text-decoration-line:none;color:black;text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
div.idloading{
    text-align:center;visibility:hidden;margin-top:-7em;
}
div.MenMaterialTextKat{
padding-left:15px;margin-top:20px;margin-bottom:10px;font-size:1.1em;text-decoration-line:none;color:black;text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
/*добавленные классы Layoutvhdv*/
img.iLogo{
    width:35px;height:35px;
}
img.iSoc{
    width:24px;height:24px;
    float:left; 
}
div.LeftHead{
    max-width:400px;
    margin-right:10px;
    float:left;
}
div.dMenu{
   background:#fff;color:#666;font:12px/18px Tahoma, Arial, Helvetica, sans-serif;
}
div.inFooter{
  width:inherit;height:95%;display:inline-block;
}
div.headSoc{
    text-align:center;color:white;
}
div.blSoc{
    text-align:center;margin-top:-10px;
}
div.undBlSoc1{
  width:35%;float:left;margin-left:30px;
}
div.undBlSoc2{
  width:25%;float:right;margin-right:30px;
}
div.textSoc{
     color:white; margin-left:8px;float:left;
}
h4.hFootC{
    margin-left:110px;
}
div.KontPageF{
   margin-top:-10px;
 }

ul.footermenu{
    margin-top:-20px;
}
/**/
.wid450{
    width:450px;
}
.hei40{
    height:40px;
}
.mt30{
    margin-top:30px;
}
.ml130{
    margin-left:130px;
}
hr.razdTov{
    float: left;height: 3px; width: 100%;
}
span.OpisDoor{
    color:	#4F4F4F;font-size:x-large; font-weight:700;
}
.hei3{
    height:3px;
}
div.SimGoods{
   display:inline-block; height:340px;width:100%;
}
div.headKarus{
   text-align:center;font-size:1.4em;color:darkblue;opacity:0.9;
}
.CenaGreen{
    /*//был green стал orange*/
  color:	#FF8C00; font-size:small;
}
.CenaBlack{
  color:black; font-size:small;
}
.CenaGreenMed{
  color:	#FF8C00; font-size:medium;
}
.CenaGreenL{
  color:	#FF8C00; font-size:large;
}
.CenaBlackL{
  color:black; font-size:large;
}
.CenaBlackMed{
  color:black; font-size:medium;
}

div.headPageProduct{
   text-align:center;
   font-size:0.8em;
   text-shadow: 0.05em 0.07em lightblue;
   	color:#363636;
}
div.shOpisTov{
    width:100%;height:86px;overflow:hidden;
}
.redCena{
  color:#FF8C00; font-size:x-large; font-weight:800;
}
.grayFont{
    color:gray;
}
.skidkaOrange{
   color:white;background-color:orangered;
}
div.hTimeWork{
     text-decoration:underline;
     color:black;
    float:right;
    font-size:1.0em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
}
div.elTimeWork{
   
    display:block;
    color:#363636;
     float:right;
   }
span.tw{
    color:#FF8C00;
    font-weight:800;
    font-size:1.0em;
}

div.elContact{
    display:block;width:98%;height:25px;
}
img.iUser{
    width:48px;height:48px;
}
.w100ha{
    width:100%;
    height:auto;
}
.answAdm{
    color:#000080;
}
.TextAnswAdm{
  color:#2F4F4F;
}
.fs-sm{
     font-size:small;
}
.db{
    display:block;
}
.pad25{
    padding:25px;
}
div.ArtOneHeader{
    text-align:justify;font-style:oblique;font-size:medium;
}
div.ArtOneFon{
    color:black;
    padding:30px;
    margin-bottom: -40px;
}
/*новинки и изменения от 08.09.2016/**/
span.phoneCode {  font-size: 1.1em;    margin-right: 8px;    color: black;    float: left; }
span.phoneNum {    font-size: 1.4em;    margin-right: 8px;    color: black;    float: left;    margin-top: -2px; }

div.MainSlider{
    width:940px;
    height:240px;
    float:right;
    display:block;
    margin-bottom:50px;
}


/*отсюда только в главном сайте VhDv*/
.ml245{
    margin-left:245px;
}
.marg1e{
    margin:1em;
}
.fs07e{
    font-size:0.7em;
} 
.fs09e{
    font-size:0.9em;
} 
.wid980{
    width:980px;
}
.wid100{
    width:100px;
}
.mb5{
    margin-bottom:5px;
}
.wid300{
    width:300px;
}
.wid250{
    width:250px;
}
.tal{
   text-align:left;
}
.widA{
    width:auto;
}
.fst-I{
    font-style:italic;
}
.wid30p{
    width:30%;
}
.wid50p{
    width:50%;
}
.wid1040{
    width:1040px;
}
div.dYstInf{
    width:960px;height:auto;border:2px solid gray;border-radius:5px;box-shadow:0 2px 6px black; padding:10px;
}
.wid220{
    width:220px;
}
.bcgColdoor{
background-color:#00FF7F;
}
.pos-rel{
    position:relative;
}
.mar20{
    margin:20px;
}
img.slimg{
   width:940px; height:250px;
}
.wid170{
    width:170px;
}
.wid400{
    width:400px;
}
.findTov{
    width:600px;display:inline-block;position:relative;
}
.mt08e{
    margin-top:0.8em;
}
.inpFind{
    padding:1px 4px;min-width:200px;float:left;
}
.hei34{
   height:34px;
}
.mar10{
    margin:10px;
}
.imgEditTov{
width:150px; height:350px;
}
.dOplInfo{
    width:960px;height:auto;border:2px solid gray;border-radius:5px;box-shadow:0 2px 6px black; padding:10px;
 }
.dinb{
    display:inline-block;
}
.registr{
    width:400px;height:300px;margin:auto;
}
.mb-40{
    margin-bottom:-40px;
}
.ml0{
    margin-left:0px;
}
a.wid70{
    width:70px;
}
.fs08e{
    font-size:0.8em;
}
.wid880{
    width:880px;
}

/*новинки и изменения от 08.09.2016/**/
span.phoneCode {  font-size: 1.1em;    margin-right: 8px;    color: black;    float: left; }
span.phoneNum {    font-size: 1.4em;    margin-right: 8px;    color: black;    float: left;    margin-top: -2px; }

div.MainSlider{
    width:940px;
    height:240px;
    float:right;
    display:block;
    margin-bottom:50px;
}

div.MainBredcrumbs{
    display: block;
    float: right;
    list-style: outside none none;
    padding: 0;
    width:940px;
  }
/*adminka*/
a.tablebutAct{
   background: green none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    text-align: center;
  color:darkblue;
}
div#idbuy, #fastbuy, #idWrite{
    margin-left:auto;
    margin-right:auto;
    width:580px;
}

/*//для применения иконок из бутстрап*/ 
@font-face {
  font-family: 'Glyphicons Halflings';

 src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-earphone:before {
  content: "\e182";
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}




/*.butbyu2 {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #008B45 linear-gradient(#eee9e9, #00EE00);
   
    box-shadow: inset #008B45 0 -1px 1px, inset 0 1px 1px #00FF7F, #00EE00 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    width: 180px;
}
.buttbyu2:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
  box-shadow: inset #008B45 0 -2px 2px, inset 0 2px 2px #00FF7F,  #00EE00 0 0 0 2px, rgba(0,0,0,.3) 0 2px 5px;
  color: darkgray;
}
.butbyu2:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}*/
/*@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}*/

.divbutbuy{
    display:block; 
    margin-top:27px;
    font-size:1.4em;
   
}
.divbutbuy a{
    text-decoration:none;
   text-decoration: underline;
       color:black;
       font-weight:900;
        margin-left:-20px;
}
    .divbutbuy a:hover {
        color:gray;
    }
  /*шестиугольная кнопка купить товар (типа в корзину)*/
.hex {
    width:51px;
    height:28px;
    background-color: #00cd00;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 173px;
    position: relative;
    float:left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
}
.hex:hover{
      background-color: green;
}
 .hex a {
        display:block;
        width: 100%;
        height:100%;
        color:white;
        position:absolute;
        /*margin-top:5px;*/
        top:0;
        left:0;
        font-size:1.5em;
    }
    .hex .corner-1,
    .hex .corner-2 {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: inherit;
        z-index:-2;
        overflow:hidden;
        backface-visibility: hidden;
    }

    .hex .corner-1 {
        z-index:-1;
        transform: rotate(60deg);
    }

    .hex .corner-2 {
        transform: rotate(-60deg);
    }

    .hex .corner-1:before,
    .hex .corner-2:before {
        width: 57px;
        height:    57px;
      content: '';
      position: absolute;
      background: inherit;
      top:0;
      left: 0;
      z-index: 1;
      background: inherit;
      background-repeat:no-repeat;
        backface-visibility: hidden;
    }            

    .hex .corner-1:before {
        transform: rotate(-60deg) translate(-87px, 0px);
      transform-origin: 0 0;
    }            

    .hex .corner-2:before {
        transform: rotate(60deg) translate(-48px, -11px);
        bottom:0;
    }   
    /*лайбл фирмы на главной странице*/     
    .lablux{
        color:black;
        font-size:2.4em;
        float:left;
        font-weight:800;
    }
    .labevros{
        font-size:2.4em;
        color:orange;
        float:left;
          font-weight:800;
    }
    .labother{
        color:black;
        font-size:0.8em;
    }
    /*кнопка перезвонить и написать нам*/
      .hexw {
    width:27px;
    height:15px;
    background-color: darkgray;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 173px;
    position: relative;
    float:left;
    margin:11px 5px;
    text-align:center;
    zoom:1;
}
.hexw:hover{
      background-color: gray;
}
 .hexw a {
        display:block;
        width: 100%;
        height:100%;
        color:white;
        position:absolute;
        margin-top:-3px;
        top:0;
        left:0;
        font-size:1.0em;
    }
    .hexw .corner-1,
    .hexw .corner-2 {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: inherit;
        z-index:-2;
        overflow:hidden;
        backface-visibility: hidden;
    }

    .hexw .corner-1 {
        z-index:-1;
        transform: rotate(60deg);
    }

    .hexw .corner-2 {
        transform: rotate(-60deg);
    }

    .hexw .corner-1:before,
    .hexw .corner-2:before {
        width: 29px;
        height:    29px;
      content: '';
      position: absolute;
      background: inherit;
      top:0;
      left: 0;
      z-index: 1;
      background: inherit;
      background-repeat:no-repeat;
        backface-visibility: hidden;
    }            

    .hexw .corner-1:before {
        transform: rotate(-60deg) translate(-87px, 0px);
      transform-origin: 0 0;
    }            

    .hexw .corner-2:before {
        transform: rotate(60deg) translate(-48px, -11px);
        bottom:0;
    } 
    .wrus{
          padding: 7px;
      } 
    .mla {
        margin-left:auto;
    }  
    .mra {
        margin-right:auto;
    }     
    /*добавлено от 9.10.2016 в межкомнатные ненадо*/
    div.textOurWorks{
        display:block; width:90%;height:auto;margin:10px auto;
    }
    div.allImgWork{
        display:block;width:100%;height:auto;
    }
    div.imgOurWorkChange{
      display:block;float:left;height:auto;width:97%;
    }
   div.butDellImgWorkChange{
      display:block;width:97%;margin-bottom:20px;
    }   
   div.blockOurWorks{
      margin:10px 15px;width:95%;height:auto;background-color:lightgray;display:block;float:left;
   }   
   div.textInBlockWorks{
       width:100%;height:auto;background-color:#8DB6CD;float:left;
   }   
   div.blockImgWorks{
       display:inline-block;width:100%;height:auto;float:left;margin-top:5px;
   }   
   div.blockImgWork{
    display:block;float:left;height:120px;
   }  
   div.btnDellImgWork{
       display:block;width:90px;
   }   
   img.iconImgWork{
       width:80px;height:80px;
   }