@model dveri1.Models.ModelCommentCreate
@{
    ViewBag.Title = "Редактирование отзыва о входных дверях";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tablecontent" style="text-align:center">
    <h2>Редактирование отзыва о входных дверях</h2>
    @using (Html.BeginForm("AdminEditCommentVhDv", "Comment", FormMethod.Post))
    {
        @Html.Partial("PartialEditComment")
        <p style="font-size:small">Поле отмеченное звездочкой заполнить обязательно!</p>
        <div class="mt20 mb20">
            <input type="submit" value="Сохранить" class="showadd" />
               @Html.ActionLink("Отменить", "AdminCommentVhDv", "Comment")
        </div>

    }
</div>
<script>
    $(".admmen").removeClass("actadmin")
    $(".m11").addClass("actadmin")
</script>